@use "@/styles/variables.scss" as *;

.table__container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  width: 98%;
}

.table__header {
  background-color: #ffffff;
  font-weight: bold;
}

.table__body {
  display: flex;
  flex-direction: column;
}

.table__row {
  display: flex;
  cursor: grab;
  transition: background 0.2s;
  border-bottom: 0.5px solid $muted-input;
}

.table__row:last-child {
  border-bottom: none;
}

.table__row:hover {
  background-color: #fafafa;
}

.table__row:active {
  cursor: grabbing;
}

.table__row--header {
  background-color: #d9d9d9;
}

.table__cell {
  flex: 1;
  padding: 12px 8px;
  text-align: left;
  word-break: break-word;

  border-right: 0.5px solid $muted-input;
}

.table__btn-edit,
.table__btn-delete {
  border: none;
  outline: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #fff;
}

.table__btn-edit {
  margin-right: 10px;
  background: #3a86ff;
  box-shadow: 0 3px 6px rgba(58, 134, 255, 0.3);

  &:hover {
    background: #266dd3;
    box-shadow: 0 4px 10px rgba(58, 134, 255, 0.45);
    transform: translateY(-1px);
  }

  &:active {
    transform: scale(0.97);
  }
}

.table__btn-delete {
  background: #ef233c;
  box-shadow: 0 3px 6px rgba(239, 35, 60, 0.3);

  &:hover {
    background: #c9182b;
    box-shadow: 0 4px 10px rgba(239, 35, 60, 0.45);
    transform: translateY(-1px);
  }

  &:active {
    transform: scale(0.97);
  }
}
